<!DOCTYPE html>
<html lang="en">
  <head>
    <title>d3-chart</title>
    
    <meta name="d3-chart" content="Experiment with D3.js and Web Components">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.2.0/webcomponents-lite.js"></script>
    <script src="https://d3js.org/d3.v5.js"></script>
    <script src="/D3Chart.js"></script>
  </head>
  <body>
    <d3-chart id="c1" data="[30, 86, 168, 281, 303, 65]"></d3-chart>
    <d3-chart id="c2" data="[20, 6, 68, 81, 30, 36]"></d3-chart>
    <d3-chart id="c3" data="[10, 86, 168, 21, 33, 65]"></d3-chart>
    <d3-chart id="c4" data="[30, 86, 8, 81, 303, 6]"></d3-chart>
    <d3-chart id="c5" data="[60, 26, 16, 281, 303, 36]"></d3-chart>
  </body>
</html>